@use 'base/mixins' as m;
@use 'base/variables' as v;

.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &__contenido{
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 35rem;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);

    @include m.tablet{
        background: white;
        padding: 1.5rem;
        border-radius: 8px;
        max-width: 70rem;
        width: 90%;
        position: relative;
        box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    }
  }

  &__cerrar{
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
  }

  &__imagen{
    max-width: 32rem; /* reduce el tamaño máximo de la imagen */
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem auto; /* centra la imagen y separa de texto */
    border: 2px solid v.$secundario;
  }

  &__descripcion{
    text-align: justify;
    color: v.$negro;
    font-size: 1.8rem;
    font-weight: v.$regular;
    padding: 2rem;
    margin-bottom: 0;

  }

  &__nombre{
    color: v.$azul;
    font-weight: v.$black;
  }
}



